<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item>
      <ion-label>Text Input</ion-label>
      <ion-input
        #myInput
        type="text"
        inputmode="text"
        autofocus="true"
      ></ion-input>
    </ion-item>
  </form>
</ion-content>
